.movies {
  width: 100%;
  padding: 70px 70px 80px;
  box-sizing: border-box;
  background: #FAFAFA;
}

.movies__list {
  list-style: none;
  margin: 0 0 50px;
  padding: 0;
  width: 100%;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  align-content: center;
}

.movies__more-button {
  background: #F4F4F4;
  border-radius: 6px;
  cursor: pointer;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  transition: box-shadow .25s ease-in-out;
}

.movies__more-button:hover {
  box-shadow: #000 0 0 3px inset;
  transition: box-shadow .25s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .movies {
    padding: 70px 50px 80px;
  }

  .movies__list {
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .movies {
    padding: 70px 30px 80px;
  }
}
