{
  "extends": ["airbnb-base", "airbnb/hooks", "plugin:react/recommended"],
  "rules": {
    "no-underscore-dangle": "off",
    "react/prop-types": 0,
  },
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2020
  }
}
