.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form__fieldset {
  margin: 0 0 69px;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  min-height: 266px;
}

.form__fieldset_section_profile {
  min-height: 0;
  margin: 0 0 220px;
}

.form__input-container {
  margin: 0 0 17px;
  padding: 0 0 16px;
  border-bottom: 1px solid #E8E8E8;
  box-sizing: border-box;
  font-size: 11px;
  line-height: 13px;
}

.form__input-container:last-of-type {
  border: none;
  margin: 0;
  padding: 0;
}

.form__label {
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
  margin: 0 0 10px;
}

.form__label_section_profile {
  font-size: inherit;
  line-height: inherit;
  color: #000;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form__input {
  margin: 0 0 10px;
  border: none;
  border-radius: 8px;
  background: #F4F4F4;
  padding: 15px;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 16px;
  outline: none;
}

.form__input:invalid:not(:focus) {
  color: #EE3465;
}

.form__input:focus {
  box-shadow: 0 0 0 1px #3456F3;
}

.form__input:only-of-type {
  margin: 0;
}

.form__input_section_profile {
  margin: 0;
  padding: 0;
  background: transparent;
  text-align: right;
  flex-basis: 90%;
  font-size: inherit;
  line-height: inherit;
}

.form__input_section_profile:focus {
  border: none;
  box-shadow: none;
  background: linear-gradient(#3456F3, #3456F3) no-repeat bottom right / 100% 1px;
  transition: background .4s ease-in-out;
}

.form__error {
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
  margin-bottom: 10px;
}

.form__error:last-of-type {
  margin: 0;
}

.form__submit-button {
  margin: 0 0 16px;
  padding: 0;
  border: none;
  min-height: 45px;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  background: #3456F3;
  cursor: pointer;
  transition: opacity .5s ease-in-out;
}

.form__submit-button:hover {
  opacity: .5;
  transition: opacity .5s ease-in-out;
}

.form__submit-button_section_profile {
  padding: 0;
  background: transparent;
  color: #000;
  font-size: 13px;
  line-height: 16px;
  min-height: 0;
}

.form__submit-button_inactive {
  opacity: .2;
  pointer-events: none;
  user-select: none;
}

.form__caption {
  color: #A0A0A0;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  text-align: center;
}

.form__link {
  text-decoration: none;
  color: #3456F3;
  transition: opacity .5s ease-in-out;
}

.form__link:hover {
  opacity: .5;
  transition: opacity .5s ease-in-out;
}

.form__link_type_exit {
  color: #EE3465;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
  transition: opacity .5s ease-in-out;
}

.form__link_type_exit:hover {
  opacity: .5;
  transition: opacity .5s ease-in-out;
}

@media screen and (max-width: 768px) {
  .form__fieldset_section_profile {
    margin-bottom: 210px;
  }
}

@media screen and (max-width: 640px) {
  .form__fieldset {
    margin-bottom: 157px;
  }

  .form__fieldset_section_profile {
    margin-bottom: 379px;
  }

  .form__submit-button {
    margin-bottom: 14px;
  }

  .form__submit-button_section_profile {
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 15px;
  }

  .form__caption {
    font-size: 12px;
    line-height: 15px;
  }

  .form__link_type_exit {
    font-size: 12px;
    line-height: 15px;
  }
}
