.portfolio {
  width: 100%;
}

.portfolio__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #a0a0a0;
  margin: 0 0 50px;
}

.portfolio__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.portfolio__list-item {
  padding-bottom: 19px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 20px;
}

.portfolio__list-item:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.portfolio__link {
  display: inline-block;
  width: 100%;
  color: #000;
  text-decoration: none;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -.04em;
  background: url(../../images/portfolio-link-arrow.svg) no-repeat right center;
  transition: opacity .5s ease-in-out;
}

.portfolio__link:hover {
  opacity: .5;
  transition: opacity .5s ease-in-out;
}
