.promo {
  padding: 75px 70px 50px;
  background: #dddee3 url(../../images/promo.svg) no-repeat right 70px top 75px;
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.promo__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  max-width: 640px;
  margin: 0 0 36px;
}

.promo__text {
  max-width: 310px;
  font-size: 13px;
  line-height: 16px;
  opacity: .5;
  margin: 0 0 146px;
}

.promo__nav-tab {
  margin-bottom: 25px;
}

@media screen and (max-width: 1024px) {
  .promo {
    padding: 75px 50px 50px;
    background-position: top 75px right 50px;
  }

  .promo__title {
    max-width: 440px;
    font-size: 40px;
    line-height: 50px;
  }
}

@media screen and (max-width: 768px) {
  .promo {
    padding: 492px 30px 66px;
    background-position: top 140px center;
    align-items: center;
  }

  .promo__title {
    max-width: 680px;
    text-align: center;
    margin: 0 0 22px;
  }

  .promo__text {
    max-width: 260px;
    text-align: center;
    margin: 0 0 92px;
  }

  .promo__nav-tab {
    margin-bottom: 10px;
  }
}
