.promo {
  padding: 75px 70px 50px;
  background: #dddee3 url(../../images/promo.svg) no-repeat right 70px top 75px;
}

.promo__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  max-width: 640px;
  margin: 0 0 36px;
}

.promo__text {
  max-width: 310px;
  font-size: 13px;
  line-height: 16px;
  opacity: .5;
  margin: 0 0 146px;
}

.promo__nav-tab {
  margin-bottom: 25px;
}
