.nav {
  display: flex;
  align-items: center;
  height: 30px;
}

.nav__list {
  display: flex;
  list-style: none;
  margin: 0 50px 0 0;
  padding: 0;
}

.nav__list-item {
  margin: 0 20px 0 0;
}

.nav__list-item:last-of-type {
  margin: 0;
}

.nav__link {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  line-height: 18px;
}

.nav__account-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
}

.nav__account-link {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  line-height: 16px;
}

.nav__account-icon {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background: #F5F5F5 url(../../images/account-icon.svg) no-repeat center / 10px;
}
