.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s, visibility .5s ease-in-out;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  box-shadow: 0px 0px 25px 1px #000;
  border-radius: 20px;
  width: 60%;
  max-width: 460px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px 30px 50px;
  position: relative;
}

.popup__image {
  margin: 0 0 30px;
}

.popup__text {
  text-align: center;
  margin: 0;
}

.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background: rgba(0, 0, 0, 0) url(../../images/close-button.svg) no-repeat center / contain;
  transform: rotate(45deg);
  opacity: 1;
  transition: opacity 1s ease;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: .6;
  transition: opacity 1s ease;
}

