.tech {
  width: 100%;
  background: #e8e8e8;
  text-align: center;
  padding: 21px 0 21px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -.04em;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .tech {
    font-size: 12px;
    line-height: 15px;
  }
}
