.nav-tab {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, .6);
  border-radius: 3px;
  width: 129px;
  height: 36px;
  font-size: 12px;
  line-height: 16px;
  background: transparent;
}

.nav-tab:hover {
  cursor: pointer;
}
